src/main/mule/datasample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0da882e5-ee7b-4d3c-9f3a-813449601b75" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="datasampleFlow" doc:id="069edd2c-b803-4f06-bde4-b3e131c1978b" >
		<http:listener doc:name="Listener" doc:id="2749801e-90f1-4436-8cbd-6561ce9e6142" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='"Hello Mule"' doc:name="Set Payload" doc:id="8f213962-5806-43e7-ac70-87bba3078d68" />
		<ee:transform doc:name="Transform Message" doc:id="882fa3eb-6aef-4d68-9b34-c26cf75ce5a5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="279d1e5a-cfa6-4036-a0c5-95b20690ffbb" message="#[payload]"/>
	</flow>
</mule>
